.Header {
  text-align: left;
  padding-left: 20px;
  background-color: navy;
  color : white;
}

.container {
  display: flex;
}

.main-page {
  flex : 4;
  background-color: beige;
}

.show-side {
  width : 376px;
  height : 100%;
  left : 0px;
  position : fixed;
  background-color : grey;
  padding-left : 20px;
  border-right: 2px solid brown;
  transition : 1s;
}

.hide-side {
  width : 376px;
  height : 100%;
  position : fixed;
  left : -376px;
  transition : 1s;
}