.sidebar {
    margin : 0;
    position : fixed;
}

.sidebar-header {
    display : flex;
    width : 100%;
    margin : 0;
    align-items : center;
}

.sidebarTitle {
    display : flex;
    margin-right: auto;
    padding-left: 20px;
}

.sidebarList {
    width : 80%;
    margin-right : auto;
    padding : 0;
}

.selected {
    width : 100%;
    display : flex;
    text-align: left;
    margin-right : auto;
    padding-left : 1vw;
    border-radius : 30px;
    background-color: lightgrey;
    transition : 0.2s;
}

.no {
    width : 100%;
    text-align: left;
    margin-right : auto;
    padding-left : 1vw;
    border-radius: 0;
    border-bottom : 0;
    background-color: grey;
}

.delete-button {
    display : flex;
    margin-left : auto;
    padding-right : 1.2vw;
}