.sidebar {
    margin : 0;
    position : fixed;
}

.sidebarTitle {
    padding-left: 20px;
}

.selected {
    text-align: center;
    padding : 2px;
    border-radius : 30px;
    background-color: lightgrey;
    transition : 0.2s;
}

.no {
    text-align: center;
    padding : 2px;
    border-radius: 0;
    border-bottom : 0;
    background-color: grey;
}